/* CSS for design bootstrap all in this file location  */


/* DisplayMovies.tsx CSS */

.MovieList-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    
}

.List-Movie-Title{
    margin-top: 30px;
    margin-bottom: 50px;
text-align: center;


}

.Title-Movie{



}

.Image-Display{



}

.Details-Button-Go{



}

.Critic-Score-Text{



}






/* Details.tsx CSS */
.Movie-Details{



}

.Movie-Title{



}

.Movie-Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 820px;
margin-bottom: 15px;
}

.Movie-Description{

text-align: center;
margin-right: 700px;
}

.Movie-Director{

text-align: center;
margin-right: 726px;

}

.Movie-Release{

text-align: center;
margin-right: 686px;

}

.Movie-Duration{

text-align: center;
margin-right: 695px;

}

.Movie-Rating{

text-align: center;
margin-right: 720px;

}

.Movie-Genre{

text-align: center;
margin-right: 674px;

}

.Published-Reviews{



}

.Published-Display-text{



}

.Review-Cards{



}

.Review-Name{



}

.Review-Said{



}

.Review-Rating-Given{



}

.Go-Back-Button{



}